pid_file = "/etc/vault.d/vault-agent.pid"

vault {
  address = "${vault_address}"
}

auto_auth {
  method {
    type = "token_file"
    namespace = "admin/tfo-apj-demos"

    config = {
      token_file_path = "/etc/vault.d/.vault-token"
    }
  }
}

template {
  contents =<<EOH
{{- with pkiCert "issuing-ca/issue/server-certs" "common_name=${hostname}.hashicorp.local" "alt_names=${load_balancer_dns_name}.hashicorp.local" "ip_sans=${private_ip}, ${load_balancer_ip}" }}{{ .Key }}
{{- .Cert | writeToFile "/opt/vault/tls/tls.crt" "vault" "vault" "0644" }}{{ end }}
{{- with secret "issuing-ca/cert/ca_chain" }}{{ .Data.ca_chain | writeToFile "/opt/vault/tls/tls.crt" "vault" "vault" "0644" "append" }}{{ end }}
EOH
  destination = "/opt/vault/tls/tls.key"
  perms       = "0600"
  user        = "vault"
  group       = "vault"
  exec = {
    command = ["/bin/bash", "-c", "/usr/bin/sudo /bin/systemctl is-active vault >/dev/null 2>&1 && /usr/bin/sudo /bin/systemctl reload vault || /usr/bin/sudo /bin/systemctl start vault"]
  }
}