pid_file = "/etc/vault.d/vault-agent.pid"

vault {
  address = "${vault_address}"
}

auto_auth {
  method {
    type = "token_file"
    namespace = "admin"

    config = {
      token_file_path = "/etc/vault.d/.vault-token"
    }
  }
}

template {
  contents =<<EOH
{{- with pkiCert "pki/issue/gcve" "common_name=${hostname}.hashicorp.local" "alt_names=${load_balancer_dns_name}.hashicorp.local" "ip_sans=${private_ip}, ${load_balancer_ip}") }}
{{ .Key | writeToFile "/opt/vault/tls/tls.key" "vault" "vault" "0600" }}
{{ .Cert | writeToFile "/opt/vault/tls/tls.crt" "vault" "vault" "0600" }}
{{- end }}
{{- with secret "pki/cert/ca_chain" }}
{{ .Data.ca_chain | writeToFile "/opt/vault/tls/tls.crt" "vault" "vault" "0600" "append" }}
{{ end }}
EOH
  destination = "/opt/vault/tls/certs"
  exec = {
    command = ["pkill", "-SIGHUP", "vault"]
  }
}